GRPC_PORT=50051
HTTP_PORT=8082

подробного описания не будет, переменных всего 2
GRPC_PORT и HTTP_PORT - это переменные, на которых запускаются gRPC и HTTP сервера
GRPC_PORT также используется в grpc-gateway для определения эндпоинта gRPC сервера